@import "modules/_colors";
@import "modules/_all";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$mapOfPrimarColors:
(redGwo:#d5041f,
orangeGwo: #ea8300,
yellowGwo: #f5bf00,
whiteGwo: #FFF);

$mapOfColors:
(backgoundColor:#FFF,
textColor: #c4c4c4,
footerColor: #fe6103,
linkCoror: #00c6ff,
hoverColor: #9600ff);


body {
  background: map-get($mapOfColors, backgoundColor);
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: map-get($mapOfPrimarColors, orangeGwo);
}

// p {
//   color: map-get($mapOfColors, textColor);
// }

section {

  form {
    @extend %form ;
    font-size: 16px;
    @include inputSubmit(map-get($mapOfPrimarColors, redGwo), map-get($mapOfPrimarColors, whiteGwo));
    input {
      @extend %input ;
    }
    #submit{
      @include button(map-get($mapOfPrimarColors, redGwo), map-get($mapOfPrimarColors, orangeGwo), map-get($mapOfPrimarColors, whiteGwo), map-get($mapOfPrimarColors, whiteGwo)) ;
    }
  }

  #showData {
    @extend %clearfix ;
    font-size: 12px;
    @extend %form ;
    .book {
      @extend %float ;
      margin-bottom: 10px;
      width: 50%;
      padding: 1rem;
    }
  }
}

footer {
  background-color: map-get($mapOfColors, footerColor);
}
