@import "modules/_colors";
@import "modules/_all";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$mapOfPrimarColors:
(redGwo:#d5041f,
orangeGwo: #ea8300,
yellowGwo: #f5bf00,
whiteGwo: #FFF);

$mapOfColors:
(backgoundColor:#FFF,
textColor: #c4c4c4,
footerColor: #fe6103,
linkCoror: #00c6ff,
hoverColor: #9600ff);


body {
  background: map-get($mapOfPrimarColors, orangeGwo);
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

h2 {
  color: map-get($mapOfPrimarColors, orangeGwo);
  font-kerning: auto;
  font-weight: 800;
  font-size: 16px;
  margin-top: 1rem;
}

section {
  form {
    @extend %clearfix ;
    #searchBook {
      width:59%;
    }
    #submit {
      width:39%;
      margin-left: 0.6rem;
    }

    @extend %form ;
    background: map-get($mapOfPrimarColors, whiteGwo);
    font-size: 16px;
    @include inputSubmit(map-get($mapOfPrimarColors, redGwo), map-get($mapOfPrimarColors, whiteGwo));

    input {
      @extend %input ;
      border: 1px solid map-get($mapOfPrimarColors, orangeGwo);
    }

    #submit {
      @include button(map-get($mapOfPrimarColors, orangeGwo), map-get($mapOfPrimarColors, redGwo), map-get($mapOfPrimarColors, whiteGwo), map-get($mapOfPrimarColors, whiteGwo));
    }
  }

  #showData {
    display: flex;
    flex-wrap: wrap;

    @extend %form ;
    background: map-get($mapOfPrimarColors, whiteGwo);
    font-size: 12px;

    .book {
      @extend %clearfix ;
      @extend %float ;
      position: relative;
      width: 49%;
      padding: 3rem 3rem 1rem;
      background: map-get($mapOfPrimarColors, whiteGwo);
      margin: 1px;

      .author {
        padding-top: 1rem;
      }

      .title {
      }

      .bookInfo {
      }

      .btnDiv {
        margin-top: auto;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .btnBook {
          margin-bottom: 2rem;
          padding: 1rem 2.5rem;
          font-size: 12px;
          @include buttonStore(map-get($mapOfPrimarColors, orangeGwo), map-get($mapOfPrimarColors, redGwo), map-get($mapOfPrimarColors, whiteGwo), map-get($mapOfPrimarColors, whiteGwo));
        }
      }

      .bookInfo {
      }
      .bookImage {
        height: 16rem;
        img {
          box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
      }
    }
  }
}

footer {
  background-color: map-get($mapOfColors, footerColor);
}
