@import "modules/_colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background: map-get($mapOfColors, fontAdditional);
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

h2 {
  color: map-get($mapOfPrimarColors, fontMain);
  font-kerning: auto;
  font-weight: 800;
  font-size: 18px;
}
