@import "modules/_colors";

$smPhone:"(min-width: 600px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$hdDesktop: "(min-width: 1600px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: map-get($mapOfPrimarColors, orangeGwo);
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

h2 {
  color: map-get($mapOfPrimarColors, orangeGwo);
  font-kerning: auto;
  font-weight: 800;
  font-size: 18px;
  margin-top: 1rem;
}
