$primary-color: #ea8300;
$additional-color: #d5041f;
$complementary-color: #f5bf00;
$neutralColor: #FFF;

$mapOfPrimarColors:
(redGwo:#d5041f,
orangeGwo: #ea8300,
yellowGwo: #f5bf00,
whiteGwo: #FFF,
fontMain: #747a8a);

$mapOfColors:
(backgoundColor:#FFF,
ColorBG: #f7f7f7,
footerColor: #fe6103,
linkCoror: #00c6ff,
hoverColor: #9600ff,
fontAdditional: #bababa);
