@import "modules/_colors";


$map-values: ("$min-width": 600px , "$max-width": 600px);

$phone2: "(min-width: 100px) and (max-width: 299px)";
$phone: "(min-width: 300px) and (max-width: 599px)";
$smPhone: "(min-width: 600px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1110px)";
$desktop: "(min-width: 1111px) and (max-width: 1600px)";
$maxDesktop: "(min-width: 1601px)";


// $non-retina: "screen and (-webkit-max-device-pixel-ratio: 1)";
// $retina: "(min--moz-device-pixel-ratio: 1.5),
//                     (-o-min-device-pixel-ratio: 3/2),
//                     (-webkit-min-device-pixel-ratio: 1.5),
//                     (min-device-pixel-ratio: 1.5),
//                     (min-resolution: 144dpi),
//                     (min-resolution: 1.5dppx)";

@mixin phone2 {
  @media #{$phone} {
    @content;
  }
}

@mixin phone {
  @media #{$phone} {
    @content;
  }
}

@mixin smPhone {
  @media #{$smPhone} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin maxDesktop {
  @media #{$maxDesktop} {
    @content;
  }
}
